{% macro file_table(table_id, list) -%}
<table class='table table-bordered' id="{{table_id}}">
  <thead>
    <tr>
      <th>File</th>
      <th>Size</th>
      <th>Last modified</th>
    </tr>
  </thead>
  <tbody>
    {% for key in list %}
      {% if key.size > 0 %}
        <tr>
          <td>
            <a href='https://s3.amazonaws.com/{{key.bucket.name}}/{{key.name.encode('utf-8')}}'> <i class="fa fa-download"></i> {{key.name.encode('utf-8')}}</a>
          </td>
          <td>{{ key.size | format_file }}</td>
          <td>{{ key.last_modified | format_datetime }}</td>
        </tr>
      {% endif %}
    {% endfor %}
  <tbody>
</table>
{%- endmacro %}