{% extends 'base.html' %}

{% block content %}
<h1>About Election Money</h1>
<p>Interested in money in <strong>Illinois</strong> politics? This site makes available bulk downloads of Illinois campaign contributions and expenditures from the <a href='http://www.elections.il.gov'>Illinois State Board of Elections</a> going back to 1994.</p>

<p>We built <strong>Election Money</strong> to give journalists, activists and citizens better access to and documentation for this historical data.</p>

<h3 id='team'>Team and credits</h3>

<p>This is a <a href='http://datamade.us'>DataMade</a> project done in collaboration with the <a href='http://www.ilcampaign.org/'>Illinois Campaign for Political Reform</a> (ICPR) that was spawned at a meeting held in Chicago with the <a href='http://sunlightfoundation.com/'>Sunlight Foundation</a> and sponsored by the <a href='http://www.mccormickfoundation.org/'>McCormick Foundation</a>. We built this site to increase the access to campaign contribution data for journalists, activists and curious citizens.</p>

<ul>
  <li><a href='https://twitter.com/evanzanten'>Eric van Zanten</a>, DataMade</li>
  <li><a href='https://twitter.com/derekeder'>Derek Eder</a>, DataMade</li>
  <li><a href='https://twitter.com/cthydng'>Cathy Deng</a>, DataMade</li>
  <li>Forest Gregg, DataMade</li>
  <li><a href='http://www.uis.edu/politicalscience/faculty/redfield/'>Kent Redfield</a>, ICPR</li>
  <li>David Melton, ICPR</li>
</ul>

<h3>Press</h3>

<p>Since launching in July 2014, we've gotten some great local and national press coverage about this site, and more importantly, journalists are using it as a resource for their election coverage!</p>

<ul>
  <li><a href='http://politics.suntimes.com/article/washington/big-labor-investing-turnout-quinn-illinois-democrats/tue-09302014-1110am'>Big labor investing in turnout for Quinn, Illinois Democrats</a> - Lynn Sweet, Chicago Sun-Times</li>
  <li><a href='http://sunlightfoundation.com/blog/2014/09/22/liberals-still-top-list-of-largest-super-pac-donors/'>Liberals still top list of largest super PAC donors</a> - Peter Olsen-Phillipsm Sunlight Foundation</li>
  <li><a href='https://soundcloud.com/techshift/tech-shift-new-site-warehouses-campaign-finance-data'>New site warehouses campaign finance data</a> - WBEZ Tech Shift</li>
  <li><a href='http://sunlightfoundation.com/blog/2014/08/06/see-whos-financing-illinois-elections-thanks-to-local-open-data-group/'>See who's financing Illinois elections — thanks to local open data group</a> - Stan Oklobdzija, Sunlight Foundation Blog</li>
</ul>

<h3>Contact us</h3>

<p>Found a bug? Report it on our <a href='https://github.com/datamade/election-money/issues'>issue tracker</a>.</p>

<p>Have a suggestion? <a href='http://datamade.us/contact-us/'>Contact DataMade</a>.</p>

<h3>Code</h3>

<p>All the code for this site is open source. It consists of a scraper and this website to display the data. It was built with:</p>

<ul>
  <li><a href='http://flask.pocoo.org/'>Flask</a> - python web framework</li>
  <li><a href='aws.amazon.com/s3/'>Amazon S3</a> - file storage</li>
  <li><a href='http://getbootstrap.com'>Bootstrap</a> - HTML and CSS scaffolding</li>
  <li><a href='http://datatables.net'>Datatables</a> - searchable, sortable HTML tables</li>
  <li><a href='http://heroku.com'>Heroku</a> - website hosting</li>
</ul>

<p>All the code for this project is available on Github:</p>

<ul>
  <li><a href='https://github.com/datamade/election-money'>election-money</a> - this website</li>
  <li><a href='https://github.com/influence-usa/campaign-finance_state_IL'>campaign-finance_state_IL</a> - Illinois State Board of Elections website scraper</li>
</ul>


<h3 id='api'>API (for programmers)</h3>
<p>Lists of and links to each individual file are also available via an API for those of you who plan on using this data to build your own app.</p>

<p>API endpoints available:</p>

<ul>
  <li><a href='http://electionmoney.org/list/candidates/'>http://electionmoney.org/list/candidates/</a></li>
  <li><a href='http://electionmoney.org/list/committees/'>http://electionmoney.org/list/committees/</a></li>
  <li><a href='http://electionmoney.org/list/officers/'>http://electionmoney.org/list/officers/</a></li>
  <li><a href='http://electionmoney.org/list/receipts/'>http://electionmoney.org/list/receipts/</a></li>
  <li><a href='http://electionmoney.org/list/expenditures/'>http://electionmoney.org/list/expenditures/</a></li>
  <li><a href='http://electionmoney.org/list/reports/'>http://electionmoney.org/list/reports/</a></li>
</ul>

<p>For each endpoint, a list of files is returned in JSON format:</p>

<pre>
# example response from http://electionmoney.org/list/candidates/
[
  {
    "modified_date": "Jul 25, 2014 01:27 PM",
    "name": "Candidates.csv",
    "url": "https://s3.amazonaws.com/il-elections/Candidates.csv",
    "bucket": "il-elections",
    "last_modified": "2014-07-25T13:27:15.000Z",
    "size_bytes": 2757110,
    "size": "2.6 MB"
  }
]
</pre>

{% endblock %}