{% extends 'base.html' %}

{% block content %}
<p>
	<br>
	<a href="/">&laquo; back to the data</a>
</p>
<h1>About Election Money</h1>
<p>Interested in money in <strong>Illinois</strong> politics? This site makes availablebulk downloads of Illinois campaign contributions and expenditures from the <a href='http://www.elections.il.gov'>Illinois State Board of Elections</a> going back to 1994.</p>

<h2>Understanding the data</h2>
<p>Interested in learning more about campaign finance disclosure in Illinois? Here are a few useful resources:</p>

<ul>
  <li><a href='http://www.elections.il.gov/downloads/campaigndisclosure/pdf/campdiscguide.pdf'>Official Guide to Campaign Disclosure</a> (PDF)</li>
  <li><a href='http://www.elections.il.gov/Downloads/CampaignDisclosure/PDF/CampDiscAct.pdf'>Illinois Campaign Disclosure Act</a> (PDF)</li>
  <li><a href='http://www.elections.il.gov/Downloads/CampaignDisclosure/PDF/Contribution%20Limits.pdf'>Illinois Campaign Financing Act - Contribution Limits</a> (PDF)</li>
  <li><a href='http://www.elections.il.gov/CampaignDisclosure/GlossaryAE.aspx'>Campaign Disclosure Glossary A - E</a></li>
  <li><a href='http://www.elections.il.gov/CampaignDisclosure/faq.aspx'>Frequently Asked Questions about Campaign Disclosure</a></li>
</ul>

<h2>Team and credits</h2>

<p>This is a <a href='http://datamade.us'>DataMade</a> project done in collaboration with the <a href='http://www.ilcampaign.org/'>Illinois Campaign for Political Reform</a> that was spawned at a meeting held in Chicago with the <a href='http://sunlightfoundation.com/'>Sunlight Foundation</a>. We built this site to increase the access to campaign contribution data for journalists, activists and curious citizens.</p>

<h2>Code</h2>

<p>All the code for this site is open source. It consists of a scraper and this website to display the data. It was built with:</p>

<ul>
  <li><a href='http://flask.pocoo.org/'>Flask</a> - python web framework</li>
  <li><a href='aws.amazon.com/s3/'>Amazon S3</a> - file storage</li>
  <li><a href='http://getbootstrap.com'>Bootstrap</a> - HTML and CSS scaffolding</li>
  <li><a href='http://datatables.net'>Datatables</a> - searchable, sortable HTML tables</li>
  <li><a href='http://heroku.com'>Heroku</a> - website hosting</li>
</ul>

<p>All the code for this project is available on Github:</p>

<ul>
  <li><a href='https://github.com/datamade/election-money'>election-money</a> - this website</li>
  <li><a href='https://github.com/influence-usa/campaign-finance_state_IL'>campaign-finance_state_IL</a> - Illinois State Board of Elections website scraper</li>
</ul>

<h2>Contact us</h2>

<p>Found a bug? Report it on our <a href='https://github.com/datamade/election-money/issues'>issue tracker</a>.</p>

<p>Have a suggestion? <a href='http://datamade.us/contact-us/'>Contact DataMade</a>.</p>

{% endblock %}