{% from "partials/file_table.html" import file_table %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Illinois State Board of Elections - Bulk Downloads</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
    <link href="/static/css/custom.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class='container'>
      <div class='row'>
        <div class='col-md-10 col-md-offset-1'>

          <div class='jumbotron'>
            <h1>
              <i class='fa fa-dollar'></i>
              <i class='fa fa-university'></i>
              <i class='fa fa-download'></i>
              <i class='fa fa-child'></i>
            </h1>
            <h2>Illinois State Board of Elections<br />Bulk Downloads</h2>
            
            <p>Interested in money in Illinois politics? Below are bulk downloads of Illinois campaign contributions and expenditures from the <a href='http://www.elections.il.gov'>Illinois State Board of Elections</a> going back to 1989.</p>
            
          </div>

          <h3>Individual Campaign Contributions</h3>
          <p>Itemized contributions by people and organizations to political action committees in Illinois from 1989 to present. <br />Updated daily.</p>
          {{ file_table('receipts_list', receipts_list) }}

          <h3>Campaign Expenditures</h3>
          <p>Itemized expenses by political action committees. <br />Updated quarterly.</p>
          {{ file_table('expenditures_list', expenditures_list) }}

          <hr />

          <p>Interested in learning more about campaign finance disclosure in Illinois? Read the Illinois State Board of Elections <a href='http://www.elections.il.gov/downloads/campaigndisclosure/pdf/campdiscguide.pdf'>Guide to Campaign Disclosure</a> (PDF).</p>
          <hr />

          <p class='pull-left'>Source: <a href='http://www.elections.state.il.us/CampaignDisclosure/ContributionsSearchByAllContributions.aspx'>Illinois State Board of Elections</a></p>

          <p class='pull-right'>Built by <a href='http://datamade.us'>DataMade</a></p>

        </div>
      </div>
    </div>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.dataTables.min.js"></script>
    <script src="/static/js/jquery.dataTables.sorting.js"></script>
    <script src="/static/js/app.js"></script>

    <script type="text/javascript">
      makeDataTable('receipts_list');
      makeDataTable('expenditures_list');
    </script>
        
    </body>
</html>