{% from "partials/file_table.html" import file_table %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Illinois State Board of Elections - Bulk Downloads</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
    <link href="/static/css/custom.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class='container'>
      <div class='row'>
        <div class='col-md-10 col-md-offset-1'>

          <div class='jumbotron'>
            <h1>
              <i class='fa fa-dollar'></i>
              <i class='fa fa-university'></i>
              <i class='fa fa-download'></i>
              <i class='fa fa-child'></i>
            </h1>
            <h2>Illinois State Board of Elections<br />Bulk Downloads</h2>
            
            <p>Interested in money in Illinois politics? Below are bulk downloads of Illinois campaign contributions and expenditures from the <a href='http://www.elections.il.gov'>Illinois State Board of Elections</a> going back to 1989.</p>
            
          </div>

          <p class='text-center'>
            <a class='btn btn-default btn-sm' href='#committees'><i class='fa fa-users'></i> Political committees</a>
            <a class='btn btn-default btn-sm' href='#officers'><i class='fa fa-user'></i> Committee officers</a>
            <a class='btn btn-default btn-sm' href='#receipts'>
              <i class='fa fa-dollar'></i>
              <i class='fa fa-long-arrow-right'></i>
              <i class='fa fa-users'></i> 
              Campaign contributions
            </a>
            <a class='btn btn-default btn-sm' href='#expenditures'>
              <i class='fa fa-users'></i> 
              <i class='fa fa-long-arrow-right'></i> 
              <i class='fa fa-dollar'></i>
              Campaign expenditures
            </a>
          </p>

          <h3 id='committees'><i class='fa fa-users'></i> Political committees</h3>
          <p>Political commitees registered in Illinois. Updated weekly.</p>
          <div class="panel-group" id="committees_accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#committees_accordion" href="#committees_collapse">
                    <i class='fa fa-question-circle'></i>
                    Field definitions - Political committees
                  </a>
                </h4>
              </div>
              <div id="committees_collapse" class="panel-collapse collapse">
                <div class="panel-body">
                  <table class='table'>
                    <thead>
                      <tr>
                        <th>Field</th>
                        <th>Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>id</td>
                        <td>Committee ID given by the Illinois State Board of Elections</td>
                      </tr>
                      <tr>
                        <td>name</td>
                        <td>Committee name</td>
                      </tr>
                      <tr>
                        <td>type</td>
                        <td>Ballot Initiative, Candidate, Political Action, Political Party, or blank</td>
                      </tr>
                      <tr>
                        <td>url</td>
                        <td>Link to this committee on the Illinois State Board of Elections</td>
                      </tr>
                      <tr>
                        <td>address</td>
                        <td>Mailing address of the committee</td>
                      </tr>
                      <tr>
                        <td>status</td>
                        <td>Active or Final</td>
                      </tr>
                      <tr>
                        <td>purpose</td>
                        <td>Stated purpose of the committee</td>
                      </tr>
                      <tr>
                        <td>state_id</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>local_id</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>creation_date</td>
                        <td>Date the committee was founded</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          {{ file_table('committees_list', committees_list) }}

          <h3 id='officers'><i class='fa fa-user'></i> Committee officers</h3>
          <p>Officers (typically the Chairman and Treasurer) for each committee. Updated weekly.</p>

          <div class="panel-group" id="officers_accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#officers_accordion" href="#officers_collapse">
                    <i class='fa fa-question-circle'></i>
                    Field definitions - Committee officers
                  </a>
                </h4>
              </div>
              <div id="officers_collapse" class="panel-collapse collapse">
                <div class="panel-body">
                  <table class='table'>
                    <thead>
                      <tr>
                        <th>Field</th>
                        <th>Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>id</td>
                        <td>Officer ID given by the Illinois State Board of Elections</td>
                      </tr>
                      <tr>
                        <td>committee_id</td>
                        <td>ID of the committee they are an officer of</td>
                      </tr>
                      <tr>
                        <td>name</td>
                        <td>Officer name</td>
                      </tr>
                      <tr>
                        <td>title</td>
                        <td>Officer title. Typically Treasurer or Chairman</td>
                      </tr>
                      <tr>
                        <td>address</td>
                        <td>Mailing address of the officer</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          {{ file_table('officers_list', officers_list) }}

          <h3 id='receipts'>
            <i class='fa fa-dollar'></i>
            <i class='fa fa-long-arrow-right'></i>
            <i class='fa fa-users'></i> 
            Campaign contributions
          </h3>
          <p>Itemized contributions by people and organizations to political  committees in Illinois from 1989 to present. <br />Updated daily.</p>

          <div class="panel-group" id="receipts_accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#receipts_accordion" href="#receipts_collapse">
                    <i class='fa fa-question-circle'></i>
                    Field definitions - Campaign contributions
                  </a>
                </h4>
              </div>
              <div id="receipts_collapse" class="panel-collapse collapse">
                <div class="panel-body">
                  <table class='table'>
                    <thead>
                      <tr>
                        <th>Field</th>
                        <th>Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>CommitteeID</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>LastOnlyName</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>FirstName</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>RcvDate</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Amount</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>LoanAmount</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Occupation</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Employer</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Address1</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Address2</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>City</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>State</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Zip</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>RctType</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Description</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>VendorLastOnlyName</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>VendorFirstName</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>VendorAddress1</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>VendorAddress2</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>VendorCity</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>VendorState</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>VendorZip</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>RptType</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>ElectionType</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>ElectionYear</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>RptPdBegDate</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>RptPdEndDate</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>RptRcvdDate</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>CmteReferName</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>CmteName</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>StateCmte</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>StateID</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>LocalCmte</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>LocalID</td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          {{ file_table('receipts_list', receipts_list) }}

          <h3 id='expenditures'>
            <i class='fa fa-users'></i> 
            <i class='fa fa-long-arrow-right'></i> 
            <i class='fa fa-dollar'></i>
            Campaign expenditures
          </h3>
          <p>Itemized expenses by political committees. <br />Updated quarterly.</p>

          <div class="panel-group" id="expenditures_accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#expenditures_accordion" href="#expenditures_collapse">
                    <i class='fa fa-question-circle'></i>
                    Field definitions - Campaign expenditures
                  </a>
                </h4>
              </div>
              <div id="expenditures_collapse" class="panel-collapse collapse">
                <div class="panel-body">
                  <table class='table'>
                    <thead>
                      <tr>
                        <th>Field</th>
                        <th>Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>CommitteeID</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>LastOnlyName</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>FirstName</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>ExpendedDate</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Amount</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Address1</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Address2</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>City</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>State</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Zip</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>ExpType</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Purpose</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Beneficiary</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>CandidateName</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Office</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Supporting</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Opposing</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>RptType</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>ElectionType</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>ElectionYear</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>RptPdBegDate</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>RptPdEndDate</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>CmteReferName</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>CmteName</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>StateCmte</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>StateID</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>LocalCmte</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>LocalID</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>RptRcvdDate</td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          {{ file_table('expenditures_list', expenditures_list) }}

          <p>Interested in learning more about campaign finance disclosure in Illinois? Read the Illinois State Board of Elections <a href='http://www.elections.il.gov/downloads/campaigndisclosure/pdf/campdiscguide.pdf'>Guide to Campaign Disclosure</a> (PDF).</p>
          <hr />

          <p class='pull-left'>Source: <a href='http://www.elections.state.il.us/CampaignDisclosure/ContributionsSearchByAllContributions.aspx'>Illinois State Board of Elections</a></p>

          <p class='pull-right'>Built by <a href='http://datamade.us'>DataMade</a> | Code on <a href='https://github.com/datamade/il-elections-bulk-download'><i class='fa fa-github'></i> GiHub</a></p>

        </div>
      </div>
    </div>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.dataTables.min.js"></script>
    <script src="/static/js/jquery.dataTables.sorting.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/analytics_lib.js"></script>

    <script type="text/javascript">
      makeDataTable('receipts_list');
      makeDataTable('expenditures_list');
    </script>
        
    </body>
</html>